@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../media/iconfont.ttf?t=1638164657569') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoshoujilu:before {
  content: "\e9bd";
}

.icon-shengchanguanli:before {
  content: "\e9e6";
}

.icon-xitongguanli:before {
  content: "\e9e7";
}

.icon-dapengzhongmiaoguanli:before {
  content: "\e9e8";
}

